@tailwind base;
@tailwind components;
@tailwind utilities;

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-gray-950 text-white;
}

.active {
  @apply text-orange-500;
}
